                            <div class="hero-min pt-80 pb-80">
                                <div class="cont">
                                    <h6>
                                        <span>
                                        </span>
                                        {{home.status}}
                                    </h6>
                                    <h1>
                                        {{home.title_1_of_3}}
                                        <br />
                                        {{home.title_2_of_3}}
                                    </h1>
                                    <div class="d-flex align-items-center mt-30">
                                        {% for work in work %}
                                        <div class="mr-15">
                                            <div class="feat">
                                                <span>
                                                    {{work.title}}
                                                </span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="text mt-30">
                                        <p>
                                            {{home.descreption}}
                                        </p>
                                    </div>
                                </div>
                            </div>