                            <div class="hero-min pt-80 pb-80">
                                <div class="cont">
                                    <h6>
                                        <span>
                                        </span>
                                        آماده برای پروژه های فریلنسری
                                    </h6>
                                    <h1>
                                        سلام، 
                                        <br />
                                        پارسا هستم!
                                    </h1>
                                    <div class="d-flex align-items-center mt-30">
                                        <div class="mr-15">
                                            <div class="feat">
                                                <span>
                                                    طراح UI/UX
                                                </span>
                                            </div>
                                        </div>
                                        <div class="mr-15">
                                            <div class="feat">
                                                <span>
                                                    توسعه دهنده فرانت‌اند
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="feat">
                                                <span>
                                                    طراح محصول
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text mt-30">
                                        <p>
                                            من از تبدیل مشکلات پیچیده به طرح های ساده ، زیبا و بصری لذت می برم.هدف من
                                            این است که پیام و هویت خود را به خلاق ترین روش به مشتریان خود نمایش دهید.
                                        </p>
                                    </div>
                                </div>
                            </div>