<div class="services pt-80 pb-80 bord-thin-top">
                                <div class="sec-head mb-50 wow fadeIn">
                                    <div class="sub-title-icon d-flex align-items-center">
                                        <span class="icon pe-7s-bell">
                                        </span>
                                        <h6>
                                            خدمات من
                                        </h6>
                                    </div>
                                    <h4 class="fz-28 text-u fw-600">
                                        خدماتی که من ارائه می دهم
                                    </h4>
                                </div>
                                <div class="row">
                                    {% for serv in serv %}
                                    <div class="col-md-6 wow fadeIn" data-wow-delay=".2s">
                                        <div class="item bord mb-30">
                                            <div class="cont">
                                                <div class="d-flex align-items-center mb-30">
                                                    <div>
                                                        <span class="icon-img-50 mr-30">
                                                            {% if serv.icon_img %}
                                                             <img alt="" src={{serv.icon_img.url}} /> 
                                                             {% else %}
                                                            

                                                            <i class="devicon-{{serv.icon}}-plain colored" style="font-size: 55px;"></i>
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <span class="opacity-7 fz-13 mb-5">
                                                            {{serv.projects}} پروژه
                                                        </span>
                                                        <h5 class="fz-20">
                                                            {{serv.title}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <p>
                                                    {{serv.descreption}}
                                                </p>
                                                <a class="mt-30" href={{serv.url}}>
                                                    <span>
                                                        بیشتر بخوانید
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>