<div class="skills pt-80 pb-80 bord-thin-top">
                                <div class="sec-head mb-50 wow fadeIn">
                                    <div class="sub-title-icon d-flex align-items-center">
                                        <span class="icon pe-7s-gym">
                                        </span>
                                        <h6>
                                            مهارت های من
                                        </h6>
                                    </div>
                                    <h4 class="fz-28 text-u fw-600">
                                        مهارت ها                                    </h4>
                                </div>
                                <div class="row wow fadeIn">
                                    <div class="col-md-6">
                                        <div class="item mb-30">
                                            <div class="d-flex align-items-center mb-30">
                                                <div class="mr-30">
                                                    <div class="img icon-img-40">
                                                        <img alt="" src="assets/imgs/resume/s1.png" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <h6 class="fz-18">
                                                        طراحی UI / UX
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="skill-progress">
                                                <span class="progres" data-value="95%">
                                                </span>
                                            </div>
                                            <span class="value">
                                                ۹۵ ٪
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item mb-30">
                                            <div class="d-flex align-items-center mb-30">
                                                <div class="mr-30">
                                                    <div class="img icon-img-40">
                                                        <img alt="" src="assets/imgs/resume/s2.png" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <h6 class="fz-18">
                                                        توسعه
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="skill-progress">
                                                <span class="progres" data-value="90%">
                                                </span>
                                            </div>
                                            <span class="value">
                                                ۹۰ ٪
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item sm-mb30">
                                            <div class="d-flex align-items-center mb-30">
                                                <div class="mr-30">
                                                    <div class="img icon-img-40">
                                                        <img alt="" src="assets/imgs/resume/s3.png" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <h6 class="fz-18">
                                                        طراحی گرافیک
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="skill-progress">
                                                <span class="progres" data-value="85%">
                                                </span>
                                            </div>
                                            <span class="value">
                                                ۸۵ ٪
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="item">
                                            <div class="d-flex align-items-center mb-30">
                                                <div class="mr-30">
                                                    <div class="img icon-img-40">
                                                        <img alt="" src="assets/imgs/resume/s5.png" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <h6 class="fz-18">
                                                        طرح
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="skill-progress">
                                                <span class="progres" data-value="80%">
                                                </span>
                                            </div>
                                            <span class="value">
                                                ۸۰ ٪
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>