<div class="skills pt-80 pb-80 bord-thin-top">
                                <div class="sec-head mb-50 wow fadeIn">
                                    <div class="sub-title-icon d-flex align-items-center">
                                        <span class="icon pe-7s-gym">
                                        </span>
                                        <h6>
                                            مهارت های من
                                        </h6>
                                    </div>
                                    <h4 class="fz-28 text-u fw-600">
                                        مهارت ها                                    </h4>
                                </div>
                                
                                <div class="row wow fadeIn">
                                    {% for ability in ability %}
                                        <div class="col-md-6">
                                            <div class="item mb-30">
                                                <div class="d-flex align-items-center mb-30">
                                                    <div class="mr-30">
                                                        <div class="img icon-img-40">
                                                            <i class="devicon-{{ ability.icon }}-plain colored " style="font-size: 30px;"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <h6 class="fz-18">
                                                            {{ability.title}}
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="skill-progress">
                                                    <span class="progres" data-value="{{ability.percent}}%">
                                                    </span>
                                                </div>
                                                <span class="value">
                                                    {{ability.percent}} ٪
                                                </span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                
                            </div>