{% load custom_tags %}


<div class="testimonials pt-80 pb-80 bord-thin-top">
                                <div class="sec-head mb-50 wow fadeIn">
                                    <div class="sub-title-icon d-flex align-items-center">
                                        <span class="icon pe-7s-chat">
                                        </span>
                                        <h6>
                                            توصیفات
                                        </h6>
                                    </div>
                                    <h4 class="fz-28 text-u fw-600">
                                        آنچه مشتریان من می گویند
                                    </h4>
                                </div>
                                <div class="testim-swiper3 wow fadeIn" data-carousel="swiper" data-center="center"
                                    data-item="1" data-loop="true" data-space="20" data-speed="1000">
                                    <div class="swiper-container" data-swiper="container"
                                        id="content-carousel-container-unq-testim">
                                        <div class="swiper-wrapper">
                                            {% for c in com %}
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <div>
                                                        <div class="cont mb-30">
                                                            <div class="d-flex align-items-center">
                                                                <div class="rate-stars fz-12">
                                                                    <span class="rate main-color">
                                                                        {% for _ in c.stars|times %}
                                                                        <i class="fas fa-star">
                                                                        </i>
                                                                        {% endfor %}
                                                                    </span>
                                                                    
                                                                </div>
                                                            </div>
                                                            <p class="mt-15">
                                                                {{c.commet}}
                                                            </p>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="img">
                                                                    <img alt="" src={{c.image.url}} />
                                                                </div>
                                                            </div>
                                                            <div class="ml-30">
                                                                <div class="info">
                                                                    <h6 class="main-color">
                                                                        {{c.name}}
                                                                    </h6>
                                                                    <span class="fz-13 mt-10 opacity-8">
                                                                        {{c.fro}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="swiper-pagination">
                                    </div>
                                </div>
                            </div>