    <footer>
        <div class="container pb-30 pt-30 bord-thin-top">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <p class="fz-13">
                            © ۲۰۲۴ تمامی حقوق محفوظ است
                            <span class="underline main-color">
                                <a href="https://dmoo.ir/demo/andrew" target="_blank">
                                    dmoo.ir
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>