    <div class="loader-wrap">
        <svg preserveaspectratio="none" viewbox="0 0 1000 1000">
            <path d="M0,1005S175,995,500,995s500,5,500,5V0H0Z" id="svg">
            </path>
        </svg>
        <div class="loader-wrap-heading">
            <div dir="ltr" class="load-text">
                <span>
                    L
                </span>
                <span>
                    O
                </span>
                <span>
                    A
                </span>
                <span>
                    D
                </span>
                <span>
                    I
                </span>
                <span>
                    N
                </span>
                <span>
                    G
                </span>
            </div>
        </div>
    </div>