    <div class="fixed-menu">
        <div class="menu-links mb-30 fz-18">
            <a class="active" data-tab="tab-1" href="#home">
                <span class="icon pe-7s-home">
                </span>
                <span class="text">
                    خانه
                </span>
            </a>
            <a data-tab="tab-2" href="#home">
                <span class="icon pe-7s-portfolio">
                </span>
                <span class="text">
                    نمونه کارها
                </span>
            </a>
            <a data-tab="tab-3" href="#home">
                <span class="icon pe-7s-note">
                </span>
                <span class="text">
                    وبلاگ
                </span>
            </a>
            <a data-tab="tab-4" href="#home">
                <span class="icon pe-7s-map-marker">
                </span>
                <span class="text">
                    تماس
                </span>
            </a>
        </div>
        <div class="menu-social">
            <a href="#0">
                <i class="fab fa-behance">
                </i>
            </a>
            <a href="#0">
                <i class="fab fa-dribbble">
                </i>
            </a>
        </div>
    </div>