{% extends "base.html" %}

{% block page_title %}portfolio{% endblock page_title %}


{% block menu %}

    <div class="fixed-menu">
        <div class="menu-links mb-30 fz-18">
            <a  data-tab="tab-1" href={% url "home" %}>
                <span class="icon pe-7s-home">
                </span>
                <span class="text">
                    خانه
                </span>
            </a>
            <a  data-tab="tab-2" href={% url "port" %}>
                <span class="icon pe-7s-portfolio">
                </span>
                <span class="text">
                    نمونه کارها
                </span>
            </a>
            <a  href={% url "weblog" %}>
                <span class="icon pe-7s-note">
                </span>
                <span class="text">
                    وبلاگ
                </span>
            </a>
            <a class="active" data-tab="tab-4" href={% url "con" %}>
                <span class="icon pe-7s-map-marker">
                </span>
                <span class="text">
                    تماس
                </span>
            </a>
        </div>
        {% include "media.html" %}
    </div>
{% endblock menu %}

{% block content %}

        <section class="min-box pt-40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-10">


                        <div class="min-sec" id="tab-4">
                            <!-- ==================== Start Contact ==================== -->
                            <div class="contact pt-80 pb-80">
                                <div class="sec-head mb-50 wow fadeIn">
                                    <div class="sub-title-icon d-flex align-items-center">
                                        <span class="icon pe-7s-map-marker">
                                        </span>
                                        <h6>
                                            با ما تماس بگیرید
                                        </h6>
                                    </div>
                                    <h4 class="fz-28 text-u fw-600">
                                        در تماس باشید!
                                    </h4>
                                </div>

                                <div class="info mb-100 wow fadeIn">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="item mb-30 d-flex align-items-center">
                                                <div class="mr-15">
                                                    <span class="icon fz-40 main-color pe-7s-call">
                                                    </span>
                                                </div>
                                                <div class="mr-10">
                                                    <h6 class="opacity-7">
                                                        تلفن
                                                    </h6>
                                                </div>
                                                <div class="ml-auto">
                                                    <h4>
                                                        {{setting.phone_number}}
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="item mb-30 d-flex align-items-center">
                                                <div class="mr-15">
                                                    <span class="icon fz-40 main-color pe-7s-mail">
                                                    </span>
                                                </div>
                                                <div class="mr-10">
                                                    <h6 class="opacity-7">
                                                        ایمیل
                                                    </h6>
                                                </div>
                                                <div class="ml-auto">
                                                    <h4>
                                                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ setting.email }}" target="_blank">
                                                            {{setting.email}}
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="item d-flex align-items-center">
                                                <div class="mr-15">
                                                    <span class="icon fz-40 main-color pe-7s-map-marker">
                                                    </span>
                                                </div>
                                                <div class="mr-10">
                                                    <h6 class="opacity-7">
                                                        آدرس
                                                    </h6>
                                                </div>
                                                <div class="ml-auto">
                                                    <h4>
                                                        {{setting.address}}
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sec-head mb-50 wow fadeIn">
                                    <div class="d-inline-block">
                                        <div class="sub-title-icon d-flex align-items-center">
                                            <span class="icon pe-7s-map-marker">
                                            </span>
                                            <h6>
                                                با ما تماس بگیرید
                                            </h6>
                                        </div>
                                    </div>
                                    <h4 class="fz-28 text-u fw-600">
                                        بیایید با ما صحبت کنیم!
                                    </h4>
                                </div>
                                <div class="full-width wow fadeIn">
                                    <form method="post"  action="{% url 'con' %}" >
                                        {% csrf_token %}
                                        <div class="messages">
                                        </div>
                                        <div class="controls row">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-30">
                                                    <label>
                                                        نام شما
                                                    </label>
                                                    <input id="form_name" name="name" required="required" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-30">
                                                    <label>
                                                        ایمیل شما
                                                    </label>
                                                    <input id="form_email" name="email" required="required" type="email" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>
                                                        پیام شما
                                                    </label>
                                                    <textarea id="form_message" name="massage" required="required"></textarea>
                                                </div>
                                                <div class="mt-30">
                                                    <button type="submit">
                                                        <span class="text">
                                                            ارسال پیام
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- ==================== End Contact ==================== -->
                        </div>


                    </div>
                </div>
            </div>
        </section>



{% endblock content %}