{% extends "base.html" %}

{% block page_title %}portfolio{% endblock page_title %}


{% block menu %}

    <div class="fixed-menu">
        <div class="menu-links mb-30 fz-18">
            <a  data-tab="tab-1" href={% url "home" %}>
                <span class="icon pe-7s-home">
                </span>
                <span class="text">
                    خانه
                </span>
            </a>
            <a  data-tab="tab-2" href={% url "port" %}>
                <span class="icon pe-7s-portfolio">
                </span>
                <span class="text">
                    نمونه کارها
                </span>
            </a>
            <a  href={% url "weblog" %}>
                <span class="icon pe-7s-note">
                </span>
                <span class="text">
                    وبلاگ
                </span>
            </a>
            <a class="active" data-tab="tab-4" href={% url "con" %}>
                <span class="icon pe-7s-map-marker">
                </span>
                <span class="text">
                    تماس
                </span>
            </a>
        </div>
        <div class="menu-social">
            <a href="#0">
                <i class="fab fa-behance">
                </i>
            </a>
            <a href="#0">
                <i class="fab fa-dribbble">
                </i>
            </a>
        </div>
    </div>
{% endblock menu %}

{% block content %}

        <section class="min-box pt-40">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-10">


                        <div class="min-sec" id="tab-4">
                            <!-- ==================== Start Contact ==================== -->
                            <div class="contact pt-80 pb-80">
                                <div class="sec-head mb-50 wow fadeIn">
                                    <div class="sub-title-icon d-flex align-items-center">
                                        <span class="icon pe-7s-map-marker">
                                        </span>
                                        <h6>
                                            با ما تماس بگیرید
                                        </h6>
                                    </div>
                                    <h4 class="fz-28 text-u fw-600">
                                        در تماس باشید!
                                    </h4>
                                </div>
                                <div class="google-map mb-50 wow fadeIn">
                                    <iframe id="gmap_canvas"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12950.331018037285!2d51.31934880689841!3d35.761058923152206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfd420e8e1b11%3A0x4306cde5c02091c7!2sPunak%2C%20District%202%2C%20Tehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1729012944298!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                                <div class="info mb-100 wow fadeIn">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="item mb-30 d-flex align-items-center">
                                                <div class="mr-15">
                                                    <span class="icon fz-40 main-color pe-7s-call">
                                                    </span>
                                                </div>
                                                <div class="mr-10">
                                                    <h6 class="opacity-7">
                                                        تلفن
                                                    </h6>
                                                </div>
                                                <div class="ml-auto">
                                                    <h4>
                                                        +۹۸۹۰۵۰۵۵۲۰۹۱
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="item mb-30 d-flex align-items-center">
                                                <div class="mr-15">
                                                    <span class="icon fz-40 main-color pe-7s-mail">
                                                    </span>
                                                </div>
                                                <div class="mr-10">
                                                    <h6 class="opacity-7">
                                                        ایمیل
                                                    </h6>
                                                </div>
                                                <div class="ml-auto">
                                                    <h4>
                                                        <a href="mailto:abc@example.com">
                                                            andrew@website.com
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="item d-flex align-items-center">
                                                <div class="mr-15">
                                                    <span class="icon fz-40 main-color pe-7s-map-marker">
                                                    </span>
                                                </div>
                                                <div class="mr-10">
                                                    <h6 class="opacity-7">
                                                        آدرس
                                                    </h6>
                                                </div>
                                                <div class="ml-auto">
                                                    <h4>
                                                        ایران ، تهران
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sec-head mb-50 wow fadeIn">
                                    <div class="d-inline-block">
                                        <div class="sub-title-icon d-flex align-items-center">
                                            <span class="icon pe-7s-map-marker">
                                            </span>
                                            <h6>
                                                با ما تماس بگیرید
                                            </h6>
                                        </div>
                                    </div>
                                    <h4 class="fz-28 text-u fw-600">
                                        بیایید با ما صحبت کنیم!
                                    </h4>
                                </div>
                                <div class="full-width wow fadeIn">
                                    <form action="https://ui-themez.smartinnovates.net/items/Gilb/contact.php"
                                        id="contact-form" method="post">
                                        <div class="messages">
                                        </div>
                                        <div class="controls row">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-30">
                                                    <input id="form_name" name="name" placeholder="نام "
                                                        required="required" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-30">
                                                    <input id="form_email" name="email" placeholder="ایمیل شما"
                                                        required="required" type="email" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea id="form_message" name="message"
                                                        placeholder="پیام شما" required="required"></textarea>
                                                </div>
                                                <div class="mt-30">
                                                    <button type="submit">
                                                        <span class="text">
                                                            ارسال پیام
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- ==================== End Contact ==================== -->
                        </div>


                    </div>
                </div>
            </div>
        </section>



{% endblock content %}